@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400');

/* navigation design */
.navigation {
    /* flexbox styles */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    background: #313250;
    align-items: center;
    padding: 10px 2%;
}
  
#logo {
    width: 333px;
    height: 50px;
    background-image: url("../images/nameLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 10px;
}
  
.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #6f81cf;
  
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 16px;
}
  
.navigation a:hover {
    color: #bac7ff;
}
  
.navigation li {
    display: inline-block;
}
  
/* responsive design: media queries */
  @media all and (max-width: 800px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    #logo {
        width: 333px;
        height: 50px;
        background-image: url("../images/nameLogo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .navigation a {
        text-align: center;
        padding: 10px 40px 10px 0;
    }
}
  
  @media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    #logo {
        width: 50px;
        height: 50px;
        background-position: center;
        background-image: url("../images/initialsLogo.png");
        background-size: cover;
        margin-right: 5px;
    }
    .navigation a {
        text-align: center;
        padding: 10px 35px 10px 0;
    }
    .navigation li {
        display: block;
    }
}

#sunset {
    background-image: url("../images/sunset.jpeg");
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-size: cover;
    height: 400px;
    width: 600px;
}

@media (max-width: 768px) {
    #sunset {
        height: 250px; 
        width: 350px;    
    }
}

.container h1 {
    font-family: "EB Garamond", serif;
    font-weight: 800;
    color: #313250;
}

.accordion {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    color: #313250;
}